body {
line-height: 1.42857143;
}

.img-thumbnail {
line-height: 1.42857143;
}

dt,
dd {
line-height: 1.42857143;
}

.input-lg {
line-height: 1.3333333;
}

.btn {
line-height: 1.42857143;
}

.form-control {
line-height: 1.42857143;
}
